---
import Scatalina from "/tambo.jpg";
import catedral from "/catedral.jpg";
---

<div class="mx-12 pb-4">
    <h1 class="my-24 text-center text-xl font-bold">
        Beautiful places of <span class="text-red-600">Arequipa</span>
    </h1>
    <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
        <div class="group relative">
            <img
                class="w-160 h-250 w-full rounded-lg relative z-10 transition-all group-hover:-translate-x-3"
                src={catedral}
                alt="ruta del sillar"
            />
            <div
                class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
            >
            </div>
        </div>
        <div class="group relative">
            <img
                class="w-160 h-160 w-full rounded-lg relative z-10 transition-all group-hover:-translate-x-3"
                src={Scatalina}
                alt="ruta del sillar"
            />
            <div
                class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
            >
            </div>
        </div>
    </div>
</div>
